.custom-canvas {
    display: block;
    width: 100vw;  
    height: 100vh !important; 
}
/* a voir pourquoi jarrive pas a l'actionner  */
/* .mesh-hover {
    cursor: pointer; 
} */
  
.homepage-container {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  overflow: auto;
}




