.expertise-container {
    padding: 20px;
    background-color: #6d6868;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: white;
    /* position: relative; */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: calc(33.333% - 20px); 
}

.service-card img {
    width: 200px;
    height: auto;
}

.service-card h3 {
    padding: 10px;
}
  